@import "../ProximaNova.scss", "./App.scss";

.userForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .btn {
      &:disabled {
        background: #cccccc;
      }
    }
  
    .title {
      margin: 0 0 5px 0;
      font-size: 25px;
    }
    .desription {
      margin: 0 0 20px 0;
    }
    .error {
      display: block;
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid $error--border;
      border-radius: 4px;
      color: $error--color;
      background-color: $error--bg;
      width: 100%;
      transition: 0.2s;
    }
    label {
      margin-bottom: 10px;
      width: 100%;
    }
  }